<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBdivuQfn39bepfhjQG6MbfZ622iZgA5io</string>
	<key>GCM_SENDER_ID</key>
	<string>829960733697</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterFinalProject</string>
	<key>PROJECT_ID</key>
	<string>flutter-final-project-nc</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-final-project-nc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:829960733697:ios:78dc9e6dd6fab67841ac00</string>
</dict>
</plist>